*{

    list-style: none;
    margin: 0; 
    padding: 0;
}
body{

    min-height: 100vh;

}
.col {
   margin: 0px;
}
.row {
   margin: 0px;
}



.sidebar{
    position: absolute;
    width: 60px;
    height: calc(100vh - 80px);
    transition: 0.4s;
    background-color: #17a2b8;
    overflow: hidden;
    z-index: 1;
    
}
.sidebar ul li a{

display: flex;
white-space: nowrap;
text-decoration: none;

}
.sidebar ul li .icone{

display: flex;
justify-content: center;



min-width: 60px;
height: 60px;

}

.sidebar:hover{

    width: 175px;

}

.sidebar ul li .titulo{

    display: flex;
    width: 100%;
    height: 20px;
    text-align: flex-start;
    color: white;
    transition: 0.2s;

}

.sidebar ul li .titulo:hover{

    color: #ccc;

}

.centralizar{

    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;

}

input .number {

    border: none;

}

.row_paciente{
    transition: 0.2s;
    cursor: pointer; 
   
    
}
.row_paciente:hover{
    background-color: #e7e6e5;
      
    
}

.pags {
    margin-bottom: 30px;
}