RewriteEngine On

# Condição: Se o arquivo ou diretório não existir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Regra: Redirecionar todas as solicitações para index.php
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
